body {
    font-family: 'Antichona', serif;
    font-size: 16px;
    background-color: rgb(35, 134, 105);
    overflow: hidden; 
    position: relative;
    color: rgb(55, 160, 78);
}


h1 {
    font-family: 'antlers', serif;
    font-size: 100px;
    margin: auto;
    text-align: center;
    color: rgb(187, 231, 136);
}

h2 {
    font-family: 'Antichona';
    font-size: 36px;
    text-align: center;
    color: rgb(94, 202, 130);
}


.container1 {
    padding: 25px;
    margin: auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Adjusted box-shadow */
    background-color: rgb(188, 229, 140);
    border-radius: 20px;
    text-align: center;
    max-width: 60%; /* Limit container width to 90% of the viewport width */
    max-height: 70vh; /* Limit container height to 90% of the viewport height */
    overflow: auto; /* Enable scrolling when content overflows */
}

@font-face {
    font-family: 'antlers';
    src: url(fonts/antlers.ttf);
}

@font-face {
    font-family: 'antichona';
    src: url(fonts/Antichona.ttf);
}

@font-face {
    font-family: 'AmaticReg';
    src: url(fonts/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: 'ManlyBeard';
    src: url(fonts/ManlyBeardRegular.ttf);
}
#gameCanvas {
    border-style: dotted;
    border-color: rgb(210, 230, 124);
    border-width: 3px;
    background-color: #dff398;
}